app/PC_mock/target/
server/IM/target/
server/common/target/

/.idea
/out/
*.iml
*.classpath
*.project

*/target/
/target/

server/dice.girl.IM/client/target/
server/dice.girl.IM/common/target/
server/dice.girl.IM/server/target/
server/dice.girl.Weixin/log/
server/dice.girl.Weixin/target/
*/.idea/

*/logs/
